<!DOCTYPE html>
<html>
<head>
  <title>{{serviceName}} Mirror Creation</title>
  <style>
    /* Add some basic CSS styles */
    body {
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<body>
  <h1>{{serviceName}} Mirror Creation</h1>
  <p>
    We are pleased to inform you that your mirror is currently being created. Once ready, it will be served from the following URL: {{mirrorUrl}}
  </p>
  <p>
    Please note that it could take up to 24 hours for the mirror to be fully propagated and ready to consume. The mirror will then remain active for the duration of your subscription.
  </p>
  <p>Thank you for choosing {{serviceName}} as your trusted service provider. We appreciate your business.</p>
  <p>Best Regards,</p>
  <p>The {{serviceName}} Team</p>
</body>
</html>
