<html>
  <head>
    <title>{{serviceName}} Subscription Renewal</title>
  </head>
  <body>
    <h1>Your {{serviceName}} Subscription is Coming Up for Renewal</h1>
    <p>
      We hope this message finds you well. We're writing to kindly remind you
      that your
      {{serviceName}}
      subscription for
      {{product.name}}
      is coming up for renewal in the next {{gracePeriod}} days.
    </p>
    <p>
      We value your continued support and it's our hope that our service
      continues to provide value to you. To ensure an uninterrupted service, we
      have prepared a new invoice for the upcoming subscription period.
    </p>
    <p>
      You can view and settle the invoice by visiting the following link:
      <a href="{{invoiceUrl}}">View My Invoice</a>.
    </p>
    <p>
      Your prompt attention to this matter is greatly appreciated. If you have
      any questions or require further assistance, please feel free to reach out
      to us. We're here to help!
    </p>
    <p>
      Thank you for choosing
      {{serviceName}}. We look forward to serving you for another year!
    </p>
    <p>Best Regards,</p>
    <p>The {{serviceName}} Team</p>
  </body>
</html>